<header  theme="neutral"  >
  <section class="xxx"><div>???</div></section>
<!--  <img width="auto" height="51" class="logoMobile logoBlack" src="https://www.manpower.ro/Manpower-page-theme/images/manpower/logo.png" alt="logo manpower">-->
  <a href="/">
    <img width="263" height="50"  class="company-logo" src="assets/MAN_BE_Logo_SS_HOR_MC_WHT - Site 50x263.png" />
  </a>

<!--  <div class="entity-header" novo-title></div>-->
</header>
<div>
  <router-outlet></router-outlet>

</div>

<footer role="contentinfo" class="boxFooter">
  <div class="boxUtilita">
    <div class="cellmenuUtilita">
      <ul class="menuSecondario">
        <li><a href="https://www.manpower.ro/en/web/manpower-romania/termeni-si-conditii">Termeni si conditii</a></li>
        <li><a href="https://www.manpower.ro/en/web/manpower-romania/confidentialitate">Politica de confidentialitate</a></li>
        <li><a href="https://www.manpower.ro/en/web/manpower-romania/limitarea-raspunderii">Limitarea raspunderii</a></li>
        <li><a href="https://www.manpower.ro/en/web/manpower-romania/politica-cookies">Politica privind modulele cookie</a></li>
        <li><a href="https://www.manpower.ro/en/web/manpower-romania/declaratie-pe-propria-raspundere">Declaratie pe propria raspundere</a></li>
        <li><a href="https://www.manpower.ro/en/web/manpower-romania/acordul-utilizatorului">Acordul utilizatorului</a></li>
      </ul>
    </div>
    <div class="cellsocial">
      <a href="https://www.facebook.com/ManpowerRomania" target="_blank">
        <img width="26" height="26" src="/assets/icon-fb.png" alt="Facebook">
      </a>
      <a href="https://www.linkedin.com/company-beta/2274701" target="_blank">
        <img width="26" height="26" src="assets/icon-linkedin.png" alt="LinkedIn">
      </a>
    </div>
  </div>
  <div class="titoloOfferte">
    <div class="cellTitoloOfferte cell-a"> Oferte de munca</div>
    <div class="cellTitoloOfferte cell-b"><a href="/locuri-de-munca">Vizualizeaza toate</a></div>
  </div>
  <section id="mapFooter">
    <div class="boxAnnunciFooter">
      <div class="boxAnnunciRegFooter boxFooter-twocolumns"></div>
      <div class="boxAnnunciProvincieFooter boxFooterStatic"></div>
      <div class="boxAnnunciRicercatiFooter"> &nbsp;</div>
      <div class="boxLinkIstFooter">
        <div class="cellIstFooter">
          <div class="box-title blu"><h3>ManpowerGroup</h3></div>
          <ul class="listaLinkIstBase">
            <li><a href="http://www.manpowergroup.ro/" target="_blank"><img height="29"
                                                                            src="assets/manpower-group.png"></a>
            </li>
            <li><a href="https://www.experis.ro/" target="_blank"><img height="29"
                                                                       src="assets/experis.png"></a>
            </li>
            <li><a href="http://www.manpowergroup.ro/" target="_blank"><img height="29"
                                                                            src="assets/manpower-group-solutions.png"></a>
            </li>
            <li><a href="http://www.manpower.ro" target="_blank"><img height="29"
                                                                      src="assets/manpower.png"></a>
            </li>
            <li><a href="http://www.proservia.ro/" target="_blank"><img height="29"
                                                                        src="assets/proservia-logo.png"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="cellSpace">
        <div class="cellIstFooter footerMobile">
          <ul class="listaAnnunciBase">
            <li><a href="/termeni-si-conditii">Termeni si conditii</a></li>
            <li><a href="/confidentialitate">Politica de confidentialitate</a></li>
            <li><a href="/limitarea-raspunderii">Limitarea raspunderii</a></li>
            <li><a href="/politica-cookies">Politica privind modulele cookie</a></li>
            <li><a href="/declaratie-pe-propria-raspundere">Declaratie pe propria raspundere</a></li>
            <li><a href="/acordul-utilizatorului">Acordul utilizatorului</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="boxFooterDesktopCopy">© 2024 ManpowerGroup - toate drepturile rezervate.</div>
</footer>
